@page "/suppliers"
@using Microsoft.EntityFrameworkCore
@using TheWarehouse.Data.Models
@using TheWarehouse.Data
@using TheWarehouse.Data.Repositories
@inject IDbContextFactory<WarehouseDbContext> ContextFactory

<div class="sidebar">
    <div class="sidebar-left"><h3>Suppliers</h3></div>
    <div class="sidebar-right"><button data-target="#AddEdit" data-toggle="modal" @onclick="@(e=>SupplierToEditId=null)">Add New</button></div>
</div>

<AddEditSupplier OnClose="RefreshTable" SupplierToEditId="SupplierToEditId"/>

<table class="table table-striped data-table">
    <thead class="thead-dark">
        <th width="5%">ID</th>
        <th width="20%">Supplier Name</th>
        <th>Address</th>
        <th/>
    </thead>

    <tbody>
        @if(Suppliers!=null)
        @foreach (Supplier supplier in Suppliers)
        {
            <tr>
                <td data-target="#AddEdit" data-toggle="modal" @onclick="@(e=>SetSupplierToEdit(@supplier.Id))">@supplier.Id</td>
                <td data-target="#AddEdit" data-toggle="modal" @onclick="@(e=>SetSupplierToEdit(@supplier.Id))">@supplier.Name</td>
                <td data-target="#AddEdit" data-toggle="modal" @onclick="@(e=>SetSupplierToEdit(@supplier.Id))">
                    <div>@supplier.AddressLine1</div>
                    <div>@supplier.AddressLine2</div>
                    <div>@supplier.City</div>
                    <div>@supplier.Postcode</div>
                </td>
                <td width="5%"><button @onclick="@(e=>DeleteSupplier(@supplier.Id))">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
@code {
    IEnumerable<Supplier>? Suppliers;
    public int? SupplierToEditId{ get; set; }
    WarehouseDbContext Context => ContextFactory.CreateDbContext();

    protected override void OnInitialized()
    {
        RefreshTable();
    }

    protected void RefreshTable()
    {
        GrabList();
    }

    protected async void DeleteSupplier(int Id)
    {
        SupplierRepository repo = new(Context);
        Supplier supplier = await repo.GetSupplierById(Id);
        repo.DeleteSupplier(supplier.Id);
        await repo.Save();
        RefreshTable();
    }

    protected void SetSupplierToEdit(int Id)
    {
        SupplierToEditId = Id;
    }

    protected async void GrabList()
    {
        SupplierRepository repo = new(Context);
        Suppliers = await repo.GetSuppliers();
        StateHasChanged();
    }

}